body{
   font-family: Arial;
}

h1{
   text-align: center;
}

.persona1{
   background-color: turquoise;
   padding: 20px;
}

.persona2{
   width: 400px;
   height: auto;
   border-radius: 80%;
   margin-top: 25px;
   background-color: yellow;
   padding: 40px;
   color:red;
}

