body{
   font-family: Arial;
}

h1{
   text-align: center;
}

.persona1{
   background-color: turquoise;
   padding: 20px;
}

.persona2{
   width: 200px;
   height: auto;
   border-radius: 50%;
   margin-top: 15px;
   background-color: blue;
   padding: 30px;
   color:violet
}

